---
---
// Define your dark colors FIRST
$text-color: #e6e6e6;
$background-color: #1c1c1c;
$brand-color: #58a6ff;
$grey-color: #828282;
$grey-color-light: #424242;
$grey-color-dark: #eaeaea;

// Then import the theme (which will now use your colors)
@import "minima";

// Optional: Fix code block background for dark mode
.highlight { background-color: #2d2d2d; }
pre { background-color: #2d2d2d; border: 1px solid #444; }
